<div *ngIf="!upNext; else nextPick" class="object" [class.closed]="player.Rank>0"
  [class.snake]="snake">
    <span class="fixed">{{ pick }}</span>
    <span class="bold">{{ player.Position }}</span>
    <span (click)="displayPlayer(player.Rank)">{{ player.PlayerName }}</span>
</div>
<ng-template #nextPick>
  <div class="object next" [class.snake]="snake" (click)="pauseOrResume()"
    [class.no-more-time]="secondsRemaining == 0 && minutesRemaining == 0">
    <span class="fixed">{{ pick }}</span>
    <span class="content">
      UP NEXT
      <br />
      {{ minutesRemaining }}:{{ secondsRemaining | number:'2.0' }}
    </span>
  </div>
</ng-template>
