.section.draftboard {
    position: absolute;
    height: 40%;
    top: 0; right: 0; left: 0;
    overflow: scroll;
    padding: 0;
    &.twelve {
        .object {
            width: (100% / 12);
            height: 5.375rem;
            padding: 1rem 1%;
            font-size: 0.75rem;
        }
    }
    .row {
        width: 100%;
        clear: both;
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
        &.header {
            position: fixed;
            top: 0; right: 0; left: 0;
            background-color: $white;
            box-shadow: 0 0 0.25rem 0.2rem $black;
            z-index: 1;
            .object {
                border-left: none;
                height: auto;
                &:hover {
                    background-color: $white;
                }
            }
        }
        &.first {
            margin-top: 4.25rem;
        }
    }
    .object {
        position: relative;
        box-sizing: border-box;
        background-color: $white;
        border-left: 0.5rem solid $brand-color;
        float: left;
        &.closed {
            background-color: $black;
            color: white;
            border-left: none;
            &:hover {
                background-color: $black;
            }
        }
        &.next {
            background-color: $brand-color;
            color: white;
            &:hover {
                background-color: $brand-color;
            }
            &:before {
                content: "UP NEXT";
                position: absolute;
                top: 2rem; right: 0; left: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
        &.snake {
            float: right;
        }
        &:hover {
            background-color: darken($white, 5%);
        }
        span {
            display: block;
            float: none;
            &.bold {
                font-weight: bold;
            }
            &.fixed {
                position: absolute;
                top: 0.2rem;
                right: 0.2rem;
            }
        }
    }
}

.section.players {
    position: absolute;
    height: calc(60% - 2rem);
    right: 0; bottom: 0; left: 0;
    padding: 1rem 0;
    overflow: scroll;
    box-shadow: inset 0 0 0.1rem 0.0125rem $black;
    z-index: 1;
    .header {
        padding: 0.75rem 0;
        position: relative;
        box-shadow: 0px 0.25rem 0.2rem -0.2rem $black;
        z-index: 1;
        h1 {
            font-size: 2rem;
        }
    }
    .button {
        visibility: hidden;
    }
    tr:hover {
        .button {
            visibility: visible;
        }
    }
}