<!-- <table class="table" *ngIf="playersList">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Team</th>
            <th>Position</th>
            <th>Bye Week</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of playersList">
            <td>{{ player.Rank }}</td>
            <td><a href="#">{{ player.PlayerName }}</a></td>
            <td>{{ player.Team }}</td>
            <td>{{ player.Position }}</td>
            <td>{{ player.ByeWeek }}</td>
            <td><span class="button" (click)="draftPlayer(player)">Draft Player</span></td>
        </tr>
    </tbody>
</table> -->
<div *ngIf="playersList">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="playerRank">
            <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
            <mat-cell *matCellDef="let player">{{ player.Rank }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="playerName">
            <mat-header-cell *matHeaderCellDef>Player Name</mat-header-cell>
            <mat-cell *matCellDef="let player">{{ player.PlayerName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="playerTeam">
            <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
            <mat-cell *matCellDef="let player">{{ player.Team }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="playerPosition">
            <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
            <mat-cell *matCellDef="let player">{{ player.Position }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="playerByeWeek">
            <mat-header-cell *matHeaderCellDef>Bye Week</mat-header-cell>
            <mat-cell *matCellDef="let player">{{ player.ByeWeek }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="draftPlayer">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let player">
                <span class="button" (click)="draftPlayer(player)">Draft Player</span>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let players; columns: columnsToDisplay"></mat-row>
    </mat-table>
    <!-- <mat-paginator #paginator [pageSize]="10"></mat-paginator> -->
</div>