<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div class="section draftboard twelve">
  <app-teams></app-teams>
  <app-board></app-board>
</div>
<div class="section players">
    <div class="container">
        <div class="header">
            <h1>Available Players</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Bye Week</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">David Johnson</a></td>
                    <td>ARI</td>
                    <td>RB</td>
                    <td>8</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#">Le'Veon Bell</a></td>
                    <td>PIT</td>
                    <td>RB</td>
                    <td>9</td>
                    <td><span class="button">Draft</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#">Antonio Brown</a></td>
                    <td>PIT</td>
                    <td>WR</td>
                    <td>9</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
