<div class="loading" [class.finished]="playersLoaded">
    <mat-progress-spinner
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
    <span>
        Getting your draft board ready...
    </span>
</div>
<div class="section draftboard twelve">
  <app-teams [playersList]="playersList"></app-teams>
  <app-board [playersList]="playersList"></app-board>
</div>
<div class="section players">
    <div class="container">
        <div class="header">
            <h1>Available Players</h1>
        </div>
        <app-players [allPlayers]="playersList" [socket]="socket"></app-players>
    </div>
</div>
