.loading {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: white;
    z-index: 2;
    &.finished {
        z-index: 0;
    }
    mat-progress-spinner {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
    }
    span {
        text-align: center;
        height: 20px;
        width: 300px;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        padding-top: 150px;
    }
}