<div class="loading" [class.finished]="boardLoaded&&playersLoaded">
  <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [value]="value">
  </mat-progress-spinner>
  <span>
      Getting your draft board ready...
  </span>
</div>
<div class="section draftboard" [ngClass]="totalTeams">
  <div class="roundsHeader">
    <div class="object">
      <span>Rounds</span>
    </div>
  </div>
  <div class="row header">
  <div *ngFor="let team of teams" class="object">
    <span (click)="displayTeam(team.id)">{{ team.name }}</span>
  </div>
</div>
  <div class="row first">
    <app-draftpicks *ngFor="let pick of picks"
      [pick]="pick" [totalTeams]="teams.length" [players]="draftedPlayers">
    </app-draftpicks>
  </div>
  <div class="rounds">
    <div *ngFor="let round of roundNumbers" class="object">
      <span>{{ round }}</span>
    </div>
  </div>
</div>
<div class="section players">
  <div class="container">
      <div class="header">
          <h1>Available Players</h1>
      </div>
      <app-players [allPlayers]="playersList" [socket]="socket"></app-players>
  </div>
</div>
