<div class="section home">
  <div class="container left">
      <span class="logo">Draft<span>MEAN</span></span>
      <h1>Digital Fantasy Football Draft Boards</h1>
      <h2>This is where a clever subtitle about how this app works would go</h2>
      <div>
        <a [routerLink]="['/new']" class="button big">Create new board</a>
        <a href="#" class="button big secondary">Find your board</a>
      </div>
  </div>
  <div class="container right">

  </div>
</div>
<!-- <div class="section">
  <div class="container">
    <h1>Something</h1>
    <p>
      Lorem ipsum.
    </p>
  </div>
</div> -->